@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat&family=Open+Sans:wght@500&family=PT+Serif&family=Poppins&display=swap');

@layer components  {
    .home-link {
        @apply text-primary font-semibold leading-[54px] font-PT
    }   
    .nav-link {
        @apply text-gray-700 font-popins leading-[27px] text-[20px] px-12
    }
    .login {
        @apply text-white text-[18px] leading-[27px] px-16 tracking-wider py-3 flex items-center justify-center bg-primary
    }
    .heroBg {
        background: linear-gradient(to right, rgba(14, 51, 134, 0.9), rgba(0,0,0,0.5)), url("/assets/hero2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: center; */
    }
}
/* rgb(14,51,134) */